# Introduction

This project is called {{ (datasource "metadata").name }}. It is used to {{ (datasource "metadata").description }}.

## Source

This is sourced from the repository {{ (datasource "dynamic").repo_name }}

## Contributors

The core maintainer is {{ (datasource "dynamic").github_user }}
